body {
	font-family: Arial, sans-serif;
	background-color: #553c29;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	text-align: center;
	background-color: #4f793d;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	color: #fff;
}

.icon-mine {
	width: 30px;

}

.buttons {
	margin-top: 20px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
}

#sim {
	background-color: #4caf50;
	color: white;
}

#nao {
	background-color: #f44336;
	color: white;
	position: relative;
}

#mensagem {
	margin-top: 20px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

#restart {
	background-color: #008cba;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}
